<footer id="footer" class="container footer">
  <ul class="footer-contact-area nav">
    <li>Get in touch: <a href="tel:{{ config.contact.phone }}">{{ config.contact.phone }}</a></li>
    <li><a href="mailto:{{ config.contact.email }}">Email us</a></li>
    <li><a href="{{ config.contact.facebook }}" target="_blank" rel="noopener noreferrer">Find us on Facebook</a></li>
  </ul>
  &copy; {% currentYear %} <a href="/">{{ config.title }}</a> | <a href="/privacy-policy/"> privacy policy</a>
</footer>
