<header class="container header">
  <span class="header-image-left"></span>
  <span class="header-title">
    <h1 class="header-title"><a href="/" title="{{ config.title }}">{{ config.title }}</a></h1>
    <h2 class="header-description">{{ config.desc }}</h2>
  </span>
  <span class="header-image-right"></span>
</header>
