---
title: "Blog"
desc: "The latest updates from the club"
permalink: "/blog/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}"
layout: "layouts/page"
featured_img: "/uploads/059.jpg"
pagination:
  data: collections.blogposts
  size: 8
  alias: posts
  reverse: true
tags:
  - primaryNav
  - homeBanner
eleventyNavigation:
  key: "Blog"
  order: 6
---

{% for item in posts %}
  <article class="article{% if item.data.featured_img %} thumb-left{% endif %}">
    {% if item.data.featured_img %}
      <div class="article-img">
        <img src="{{ item.data.featured_img }}?nf_resize=smartcrop&w=100&h=100" alt="{{ item.data.title }}">
      </div>
    {% endif %}
    <div class="article-body">
      <div class="article-title">
        <h2><a href="{{ item.data.page.url }}">{{ item.data.title }}</a></h2>
        <div class="article-meta">
          <p>Published on {{ item.data.date | readableDate }}</p>
        </div>
      </div>
      {% if item.data.summary %}
      <div class="article-desc"><p>{{ item.data.summary }}</p></div>
        {% endif %}
      <div class="article-footer">
        <a href="{{ item.data.page.url }}">Read more &raquo;</a>
      </div>
    </div>
  </article>
{% endfor %}
