---
title: "Events"
permalink: "/events/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}"
layout: "layouts/base"
pagination:
  data: collections.events
  size: 10
  alias: posts
  reverse: true
tags:
  - primaryNav
eleventyNavigation:
  key: "Events"
  order: 5
---

<h1>{{title }}</h1>
{% for item in posts %}
  <article class="article{% if item.data.featured_img %} thumb-left{% endif %}">
    {% if item.data.featured_img %}
      <div class="article-img">
        <img src="{{ item.data.featured_img }}?nf_resize=smartcrop&w=60&h=60" alt="{{ item.data.title }}">
      </div>
    {% endif %}
    <div class="article-body">
      <div class="article-title">
        <h3>{{ item.data.title }}</h3>
        <div class="article-meta">
          <p>Published on {{ item.data.page.date | readableDate }}</p>
        </div>
      </div>
      <div class="article-desc"></div>
      <div class="article-footer">
        <a href="{{ item.data.page.url }}">Read more &raquo;</a>
      </div>
    </div>
  </article>
{% endfor %}

{% include "partials/pagination_listing.njk" %}

<hr>
<h2>Looking for other events</h2>

<p>Why not request or organise an event in your area? [Contact us](/contact-us/ "Contact Us") and let us know the requirements or details of any events you wish to organise.
</p>
